.container {
    border: 1px solid #E5E5E5;
    padding: 10px 5px;
    border-radius: 8px;
    height: 45px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.content-label {
    display: flex;
    align-items: center;
}

.label {
    color: #BDBDBD;
    margin-right: 20px;
}

.progress-bar {
    position: absolute;
    display: flex;
    align-items: center;
    grid-area: 10px;
    position: relative;
    color: 1px solid #ccc;
}

.progress-bar-fill {
    height: 10px;
    background-color: #F9C600;
    position: relative;
    border-radius: 8px;
}

.units {
    color: #BDBDBD;
    right: 0;
    position: absolute;
}